
.chicken {
    z-index:1;
}

body {
    background-color: rgb(107, 141, 56);
}

.borgor {
    display: grid;
    flex-wrap: wrap;
    z-index:2;
}

#chickenCont {
    display: grid;
    justify-content: center;
}