
.chicken {
    z-index:1;
}

body {
    /* background-color: rgb(107, 141, 56); */
    background-color: #fce4ec;
}

.draggables {
    display: grid;
    flex-wrap: wrap;
    z-index:2;
}

#chickenCont {
    display: grid;
    justify-content: center;
}

.egg-counter {
    font-family: sans-serif;
    font-weight: bold;
    /* color: aliceblue; */
    color: #d500f9;
}

.chick-name {
    font-family: sans-serif;
    font-weight: bold;
    /* color: aliceblue; */
    color: #d500f9;
    display: grid;
    justify-content: center;
}